.imgen-engineering {
  margin-top: 40px;
}

.description {
  background: rgb(37, 102, 180);
  position: relative;
  z-index: 1;
  height: 830px;
}

.description p {
  color: white;
}

.eslogan {
  height: 500px;
}

h1 {
  text-align: right;
  font-family: "Dancing Script", cursive;
  color: rgb(5, 71, 152);
  font-size: 1.5cm;
}

.carouselImages {
  position: absolute;
  z-index: 1; 
  margin-left: -18px;
  top: 570px;
  width: 1200px;
}

.images-inicio {
  position: absolute;
  z-index: 2;
  width: 520px;
  object-fit: scale-down;
  margin-left: -15px;
  margin-top: 480px;
}

.linea-titulos {
  margin-left: -15px;
  background: white;
  height: 300px;
  width: 550px;
}



.linea-titulos img {
  position: absolute;
  z-index: 1;
}

.linea-titulos h5 {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  color: white;
}

.linea-titulos p {
  position: relative;
  z-index: 3;
}

