#facebook{
  background-image: url('https://imgur.com/SAqvJB0.jpg');
  height: 20px;
  width: 21px;
  margin-left: 5px;
}

#facebook:hover {
  background-image: url('https://imgur.com/d4cTcCo.jpg');
}

#instagram{
  background-image: url('https://imgur.com/CZlIEtI.jpg');
  height: 20px;
  width: 21px;
}

#instagram:hover {
  background-image: url('https://imgur.com/V9j3ifM.jpg');
}

.menu {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

@media (max-width: 575px) {
  .buscador {
    position: relative;
    width: 200px;
    margin-left: -5px;
  }
}

#redesSociles {
  position: absolute;
  z-index: 2;
  margin-top: 20px;
  margin-left: -25px;
}

@media (max-width: 575px) {
  #redesSociles {
    margin-left: 10px;
  }
}

