.menu {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

.buscador {
  position: relative;
}

@media (max-width: 575px) {
  .buscador {
    position: relative;
    width: 200px;
    margin-left: -5px;
  }
}

.lupa {
  position: absolute;
  margin-left: 125px;
}

#redesSociles {
  position: absolute;
  z-index: 2;
  margin-top: 20px;
  margin-left: -25px;
}

@media (max-width: 575px) {
  #redesSociles {
    margin-left: 10px;
  }
}

#redesSociles img {
  height: 20px;
}
